.slider-image {
    background-image: url("../assets/imageSlider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#luckydrawTxtLeft {
    float: left;
    font-size: 50px;
}

#luckydrawTxtRight {
    float: right;
    font-size: 50px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.result-table {
    text-align: center
}

.el-table__header-wrapper {
    background: repeating-linear-gradient( 45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

table#tableContent {
    background: rgb(8, 77, 14);
    width: 100%;
}

h3#winnerName {
    float: left;
}

h3#winnerTotal {
    float: right;
}

hr#winnerLine {
    color: yellowgreen;
}